.text {
    /* display: inline-block; */
    font-size: 1.5vw;
    /* float: right; */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* transform: translate(-50%, -50%); */
    /* text-align: center; */
    margin: 2%; 
    color: #1D1362;
    
  }
  
  .image-container {
      padding: 2%;
  
  }
  
  .image {
      width: 30vw; 
      height: 30vw;
  }
  
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .navbar{
    padding-top: 6%;
    padding-left: 2%;
    color: #FFFFFF;
    font-size: 2vw;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    display: flex;
    width: 100%;  
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li{
    justify-content: space-evenly;
    display: inline;
  }

  a:link {
    color: #1D1362;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #1D1362;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(214, 154, 230);
    background-color: transparent;
    text-decoration: underline;
  }

  button {
    background-color: #1D1362;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.2vw; 
    border-radius: 8px; 
  }