.overlay
{
  display:flex;
  flex direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 350px;
  width:350px;
  padding: 20px;
}

.column:hover .overlay {
  opacity: .90;
}
.text {
  color: #5F5F5F;
  font-size: 2vw;
  position: absolute;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.column
{
  display:flex;
  flex direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 20px;
  margin-top: 50px;
}
.image
{
  width: 350px;
  height: 350px; 
}
.row
{
  display: flex;
}
