body
{
  background-color: #1D1362;
}

.column
{
  position: relative;
  display:flex;
  flex direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*padding-left: 100px;*/
  width: 33.3%;
  margin-top: 50px;
}
.image
{
  height: 350px;
  width: auto;
  padding: 25px;
  margin-left: 10px;
}
/* .row
{
  display: flex;
} */
.overlay
{
  position: absolute;
  width: 350px;
  height: 350px;
  opacity:0;
  transition: .5s ease;
  background-color: #FFFFFF;
  padding: 25px;
  top:0;
  bottom: 0;
  left: 0;
  right:0;
}

.column:hover .overlay {
  opacity: .90;
}
.text {
  color: #5F5F5F;
  font-size: 2vw;
  position: absolute;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .column
  {
    width: 100%;
  }
  .toptext
  {
    font-size: 5vw;

  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .toptext
  {
    font-size: 5vw;

  }
}
